body {
    .mainVisual {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 38px;
        &__container {
            padding-top: 21px;
            position: relative;
        }
        &__title {
            font-size: 30px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-top: 20px;
            @include large($pc) {
                font-size: 36px;
                padding-top: 0;
                position: absolute;
                bottom: 38px;
                left: 0px;
                background-color: #ffffff;
                border-radius: 0 40px 0 0;
                padding: 42px;
            }
        }
        &__guide {
            font-size: 12px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            text-align: end;
            padding-top: 18px;
        }
    }

    .faq {
        &__list {
            width: 92%;
            margin: 0 auto;
        }
        &__item {
            border: 1px solid #cccccc;
            border-radius: 16px;
            padding-bottom: 16px;
            margin-bottom: 23px;
        }
        &__question {
            display: flex;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            padding-top: 12px;
        }
        &__questionContents {
            width: 74%;
            margin: 0 auto;
            padding-top: 8px;
        }
        &__questionDouble {
            display: flex;
            justify-content: space-around;
        }
        &__question::before {
            content: "Q.";
            font-size: 24px;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            padding-bottom: 52px;
            padding-left: 6px;
        }
        &__question::after {
            content: "\F63B";
            font-family: bootstrap-icons;
            width: 20px;
            font-weight: bold;
        }
        &__icon {
            font-size: 11px;
            font-family: "Source Han Sans JP";
            color: rgb(22, 131, 82);
            border: 1px solid #168352;
            border-radius: 4px;
            width: 42%;
            text-align: center;
        }
        &__text {
            font-size: 16px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
        }
        &__answer {
            font-size: 16px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            width: 90%;
            margin: 0 auto;
            padding: 0 8px;
        }
    }
}