body {
    .faqMain {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 2.1875rem;
        max-width: 358px;
        @include large($pc) {
            max-width: 1197px;
        }
        &__container {
            width: 100%;
            padding-top: 21px;
            position: relative;
            @include large($pc) {
                padding-top: 2.0625rem;
            }
        }
        &__sp {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include large($pc) {
                display: none;
            }
        }
        &__pc {
            display: none;
            @include large($pc) {
                display: block;
                width: 100%;
            }
        }
        &__title {
            font-size: 30px;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-top: 20px;
            @include large($pc) {
                font-size: 36px;
                padding-top: 0;
                position: absolute;
                bottom: 38px;
                left: 0px;
                background-color: #ffffff;
                border-radius: 0 40px 0 0;
                padding: 31px 36px;
            }
        }
        &__guide {
            font-size: 12px;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            text-align: end;
            padding-top: 21px;
        }
        &__gap {
            padding: 0 5px;
        }
    }

    .faq {
        &__list {
            width: 92%;
            margin: 0 auto;
            padding-bottom: 9.625rem;
            max-width: 358px;
            @include large($pc) {
                width: 57%;
                padding-top: 1.6875rem;
                max-width: 798px;
                padding-bottom: 3.3125rem;
            }
        }
        &__item {
            border: 1px solid #cccccc;
            border-radius: 1rem;
            padding-bottom: 1.0625rem;
            margin-bottom: 1.4375rem;
            @include large($pc) {
                padding-bottom: 0.9375rem;
                margin-bottom: 1.5rem;
            }
        }
        &__question {
            display: flex;
            align-items: baseline;
            width: 97%;
            margin: 0 auto;
            justify-content: space-between;
            padding-top: 0.1875rem;
            @include large($pc) {
                width: 92%;
            }
        }
        &__questionContents {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
            margin-right: 1.4375rem;
            @include large($pc) {
                width: 96%;
                margin-right: 0;
            }
        }
        &__questionContents.active {
            display: block;
        }
        &__icon {
            font-size: 0.6875rem;
            font-family: "Noto Sans JP";
            color: rgb(22, 131, 82);
            border: 1px solid #168352;
            border-radius: 0.25rem;
            width: 37%;
            text-align: center;
            white-space: nowrap;
            margin-left: 0.875rem;
            @include large($pc) {
                width: 15%;
                margin-left: 0.625rem;
            }
            @include middle($min, $max) {
                width: 25%;
            }
        }
        &__questionDouble {
            display: flex;
            width: 100%;
            @include large($pc) {
                width: 100%;
            }
        }
        &__question::before {
            content: "Q.";
            font-size: 1.5rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            padding-left: 1.0625rem;
            padding-top: 0.3125rem;
            @include large($pc) {
                padding-left: 0;
                padding-top: 0.4375rem;
            }
        }
        &__questionContainer {
            width: 63%;
            margin: 0 auto;
            @include large($pc) {
                width: 82%;
            }
        }
        &__text {
            font-size: 1rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            @include large($pc) {
                font-size: 1.125rem;
            }
        }
        &__answer {
            font-size: 1rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            width: 90%;
            margin: 0 auto;
            padding: 0 0.5rem;
            @include large($pc) {
                width: 94%;
                padding-top: 1.375rem;
            }
        }
    }
}