body {
    .priceMain {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 1.6875rem;
        max-width: 358px;
        @include large($pc) {
            width: 100%;
            padding-bottom: 3rem;
            max-width: 1400px;
        }
        &__container {
            padding-top: 1.3125rem;
            position: relative;
            @include large($pc) {
                width: 86%;
                margin: 0 auto;
                padding-top: 2.125rem;
                }
        }
        &__title {
            font-size: 1.875rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-top: 1.25rem;
            @include large($pc) {
                font-size: 2.25rem;
                padding-top: 0;
                position: absolute;
                bottom: 2.375rem;
                left: -0.0625rem;
                background-color: #ffffff;
                border-radius: 0 2.5rem 0 0;
                padding: 2.1875rem;
                padding-left: 2.6875rem;
            }
        }
        &__guide {
            font-size: 0.75rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            text-align: end;
            padding-top: 1.3125rem;
        }
        &__gap {
            padding: 0 0.3125rem;
            @include large($pc) {
                padding: 0 0.3125rem;
            }
        }
    }

    .gallery {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 3.4375rem;
        max-width: 358px;
        @include large($pc) {
            padding-bottom: 3.25rem;
            width: 100%;
            max-width: 1400px;
            padding-bottom: 4rem;
        }
        .title {
            font-size: 1.375rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-bottom: 0.375rem;
            position: relative;
            border-bottom: 3px solid #dddddd;
            @include large($pc) {
                font-size: 1.75rem;
                padding-bottom: 1rem;
            }
        }
        .title::before {
            content: '';
            position: absolute;
            bottom: -0.1875rem;
            width: 14%;
            height: 3px;
            background: #168352;
        }
        .container {
            @include large($pc) {
                width: 57%;
                margin: 0 auto;
            }
        }
        .slider {
            padding-top: 1.75rem;
            margin: 0;
            @include large($pc) {
                display: flex;
                column-gap: 3.125rem;
            }
        }
        .slick-dots {
            bottom: 0.25rem;
        }
        .slick-dots li button:before {
            font-size: 9px;
            color: #168352;
        }
    }

    .feature {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 1.75rem;
        max-width: 358px;
        @include large($pc) {
            width: 100%;
            max-width: 1400px;
            padding-bottom: 2.0625rem;
        }

        .title {
            font-size: 1.375rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            position: relative;
            border-bottom: 3px solid #dddddd;
            padding-bottom: 0.375rem;
            @include large($pc) {
                font-size: 1.75rem;
                padding-bottom: 1.0625rem;
            }
        }
        .title::before {
            content: '';
            position: absolute;
            bottom: -0.1875rem;
            width: 14%;
            height: 3px;
            background: #168352;
        }
        .container {
            @include large($pc) {
                width: 57%;
                margin: 0 auto;
            }
        }
        &__list {
            padding-top: 0.5rem;
            @include large($pc) {
                display: flex;
                justify-content: space-between;
                padding-top: 2.25rem;
            }
        }
        &__item {
            padding-top: 1.0625rem;
            width: 101%;
            @include large($pc) {
                width: calc((100% - 62px) /3);
                padding-top: 0;
            }
        }
        &__text {
            font-size: 1.125rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-top: 0.375rem;
            padding-bottom: 1.3125rem;
            @include large($pc) {
                padding-top: 0.5rem;
            }
        } 
    }

    .price {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 2.6875rem;
        max-width: 358px;
        @include large($pc) {
            width: 100%;
            padding-bottom: 3rem;
            max-width: 1400px;
        }
        .container {
            @include large($pc) {
                width: 57%;
                margin: 0 auto;
            }
        }
        .title {
            font-size: 1.375rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-bottom: 0.5rem;
            position: relative;
            border-bottom: 3px solid #dddddd;
            @include large($pc) {
                font-size: 1.75rem;
                padding-bottom: 1.25rem;
            }
        }
        .title::before {
            content: '';
            position: absolute;
            bottom: -0.1875rem;
            width: 14%;
            height: 3px;
            background: #168352;
        }
        &__price {
            font-size: 2rem;
            font-family: "Montserrat";
            color: #168352;
            font-weight: bold;
            padding-top: 0.625rem;
            @include large($pc) {
                padding-top: 1.1875rem;
            }
        }
        &__small {
            font-size: 1rem;
            color: #168352;
            font-weight: bold;
        }
    }

    .spec {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 4.375rem;
        max-width: 358px;
        @include large($pc) {
            width: 100%;
            padding-bottom: 4.5625rem;
            max-width: 1400px;
        }
        .container {
            @include large($pc) {
                width: 57%;
                margin: 0 auto;
            }
        }
        &__title {
            font-size: 1.375rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-bottom: 1.3125rem;
            position: relative;
            border-bottom: 3px solid #dddddd;
            @include large($pc) {
                font-size: 1.75rem;
            }
        }
        &__title::before {
            content: '';
            position: absolute;
            bottom: 0.5rem;
            width: 14%;
            height: 3px;
            background: #168352;
        }
        &__object {
            font-size: 1.25rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            border-left: 3px solid #168352;
            margin-top: 0.625rem;
            padding-left: 15px;
            @include large($pc) {
                width: 93%;
                margin: 0 auto;
                font-size: 1.5rem;
                padding-left: 1.125rem;
                margin-top: 2.125rem;
            }
        }
        &__list {
            padding-top: 1.125rem;
            @include large($pc) {
                width: 90%;
                margin: 0 auto;
                @include large($pc) {
                    width: 92%;
                    padding-top: 1.5625rem;
                }
            }
        }
        &__item {
            @include large($pc) {
                display: flex;
                width: 100%;
            }
        }
        &__grey {
            background-color: #f5f5f5;
            font-size: 1rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            border: 1px solid #dddddd;
            padding: 0.3438rem 1.1875rem;
            @include large($pc) {
                width: 20%;
                width: 29%;
                padding: 1.0625rem 0 1rem 1rem;
            }
        }
         &__white {
            font-size: 1rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            line-height: 1.2;
            border: 1px solid #dddddd;
            padding: 0.4688rem 1.125rem;
            @include  large($pc) {
                width: 80%;
                padding: 1.5rem 0 0.25rem 1.3125rem;
            }
        }
    }

    .inquiry {
        background-image: url("../images/inquiry-img.png");
        aspect-ratio: 390/360;
        background-size: cover;
        display: flex;
        @include large($pc) {
            aspect-ratio: 1400/450;
        }
        &__btn {
            display: flex;
            align-items: center;
            margin: 0 auto;

        }
        &__btn a {
            font-size: 1.25rem;
            font-family: "Noto Sans JP";
            color: rgb(255, 255, 255);
            font-weight: bold;
            border: 2px solid #ffffff;
            border-radius: 2.5rem;
            padding: 1.5rem 7.25rem;
        }
    }
}