body {
    .mainVisual {
        width: 92%;
        margin: 0 auto;
        padding-bottom: 10px;
        &__container {
            padding-top: 21px;
        }
        &__title {
            font-size: 30px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-top: 88px;
            @include large($pc) {
                font-size: 36px;
                padding-top: 0;
            }
        }
        &__guide {
            font-size: 12px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            text-align: end;
            padding-top: 18px;
        }
    }

    .gallery {
        width: 92%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 61px;
        .title {
            font-size: 22px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-bottom: 8px;
            position: relative;
            border-bottom: 3px solid #dddddd;
            @include large($pc) {
                font-size: 28px;
            }
        }
        .title::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 14%;
            height: 3px;
            background: #168352;
        }
        .container {
            padding-top: 10px;
            @include large($pc) {
                width: 57%;
                margin: 0 auto;
            }
        }
        .container img {
            @include large($pc) {
            width: 100%;
            padding-top: 50px;
            }
        }
    }

    .feature {
        width: 92%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 50px;
        .title {
            font-size: 22px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-bottom: 8px;
            position: relative;
            border-bottom: 3px solid #dddddd;
        }
        .title::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 14%;
            height: 3px;
            background: #168352;
        }
        .container {
            padding-top: 10px;
            @include large($pc) {
                display: flex;
                width: 57%;
                margin: 0 auto;
            }
        }
        .container img {
            @include large($pc) {
            padding-top: 50px;
            }
        }
        &__list {
            @include large($pc) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__item {
            padding-top: 14px;
        }
        &__text {
            font-size: 18px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-top: 6px;
            padding-bottom: 21px;
        } 
    }

    .price {
        width: 92%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 61px;
        .container {
            padding-top: 10px;
            @include large($pc) {
                width: 57%;
                margin: 0 auto;
            }
        }
        .title {
            font-size: 22px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-bottom: 8px;
            position: relative;
            border-bottom: 3px solid #dddddd;
        }
        .title::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 14%;
            height: 3px;
            background: #168352;
        } 
        &__price {
            font-size: 32px;
            font-family: "Montserrat";
            color: rgb(0, 0, 0);
            font-weight: bold;
        }
        &__small {
            font-size: 16px;
            color: rgb(0, 0, 0);
            font-weight: bold;
        }
    }

    .spec {
        width: 92%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 61px;
        .container {
            padding-top: 10px;
            @include large($pc) {
                width: 57%;
                margin: 0 auto;
            }
        }
        .title {
            font-size: 22px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-bottom: 8px;
            position: relative;
            border-bottom: 3px solid #dddddd;
        }
        .title::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 14%;
            height: 3px;
            background: #168352;
        } 
        &__object {
            font-size: 20px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            border-left: 3px solid #168352;
            margin-top: 10px;
            @include large($pc) {
                width: 90%;
                margin: 0 auto;
            }
        }
        &__list {
            @include large($pc) {
                width: 90%;
                margin: 0 auto;
            }
        }
        &__item {
            display: flex;
            width: 100%;
        }
        &__grey {
            background-color: #f5f5f5;
            font-size: 16px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            border: 1px solid #dddddd;
            padding: 12px;
            @include large($pc) {
                width: 20%;
            }
        }
        &__white {
            font-size: 16px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            line-height: 1.2;
            border: 1px solid #dddddd;
            padding: 12px;
            @include  large($pc) {
                width: 80%;
            }
        }
    }

    .inquiry {
        background-image: url("../images/inquiry-img.png");
        aspect-ratio: 390/360;
        background-size: cover;
        display: flex;
        @include large($pc) {
            aspect-ratio: 1400/450;
        }
        &__btn {
            display: flex;
            align-items: center;
            margin: 0 auto;

        }
        &__btn a {
            font-size: 20px;
            font-family: "Source Han Sans JP";
            color: rgb(255, 255, 255);
            font-weight: bold;
            border: 2px solid #ffffff;
            border-radius: 40px;
            padding: 15px 113px;
        }
    }
}