@charset 'utf-8';

@import "_reset";
@import "_variables";
@import "_price";
@import "_faq";

body {
    margin: 0 auto;
    .header {
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92%;
            // max-width: 358px;
            margin: 0 auto;
            position: relative;
            @include large($pc) {
                width: 83.5%;
                padding: 1.5625rem 0;
                max-width: 1169px;
            }
        }
        &__logo {
            width: 35.25rem;
            @include large($pc) {
                display: flex;
                align-items: center;
                width: 18.625rem;
                padding: 0.9375rem 0;

            }
        }
        &__logo img {
            @include large($pc) {
                max-width: unset;
                width: 16.5625rem;
            }
        }
        &__nav {
            position: absolute;
            width: 100%;
            top: 3.8125rem;
            z-index: 1;
            @include large($pc) {
                display: block;
                position: unset;
                width: 16.3125rem;
            }
        }
        &__list {
            top: 1.875rem;
            right: -1.875rem;
            background-color: #168352;
            border-radius: 1.5rem;
            @include large($pc) {
                display: flex;
                justify-content: space-between;
                background-color: #ffffff;
                align-items: center;
                position: unset;
                width: 16.6875rem;
            }
        }
        &__item {
            display: none;
            font-size: 1rem;
            font-family: "Noto Sans JP";
            color: #ffffff;
            font-weight: bold;
            padding-left: 1.25rem;
            text-align: center;
            padding: 1.25rem 0;
            @include large($pc) {
                display: block;
                padding-left: 0;
                color: rgb(0, 0, 0);
            }
        }
        &__item:first-child {
            @include large($pc) {
                display: none;
            }
        }
        &__hamburger {
            padding-right: 0.9375rem;
            height: 3.9rem;
            width: 3.8rem;
            @include large($pc) {
                display: none;

            }
        }
        .fa-bars {
            position: relative;
            font-size: 1.7rem;
            padding-top: 1.25rem;
            font-size: 1.5rem;
            padding-left: 1.125rem;
        }
    }

    .vision {
        @include large($pc) {
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
        }
        &__container {
            width: 92%;
            margin: 0 auto;
            padding-bottom: 1.0625rem;
            @include large($pc) {
                width: 83.5%;
                padding: 2.25rem 0;
            }
        }
        &__container img {
            display: flex;
            margin: 0 auto;
            padding-top: 1.5625rem;
            object-fit: cover;
            @include large($pc) {
                display: block;
                margin: 0;
                padding-top: 5.25rem;
            }
        }
        &__contents {
            width: 100%;
            max-width: 358px;
            margin: 0 auto;
            @include large($pc) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 1400px;
                margin: 0;
            }
        }
        &__title {
            font-size: 1.75rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-top: 1rem;
            @include large($pc) {
                font-size: 2.5rem;
                padding-top: 0;
                padding-left: 2rem;
                width: 96%;
            }
        }
        &__text {
            font-size: 0.9375rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            padding-top: 0.9375rem;
            @include large($pc) {
                padding-top: 0.5rem;
            }
        }
        &__aboutUsEn {
            padding-top: 3.375rem;
            text-align: center;
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            line-height: 1.2;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.8125rem;
            }
        }
        &__aboutUsJp {
            text-align: center;
            font-size: 1.25rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            @include large($pc) {
                font-size: 1.75rem;
            }
        }
    }

    .mission {
        background-image: url(../images/about_us_img.png);
        background-size: cover;
        @include large($pc) {
            background-image: unset;
            padding-bottom: 3.375rem;
        }
        &__container {
            width: 92%;
            margin: 0 auto;
            padding: 1.875rem 0;
            @include large($pc) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                width: 100%;
                max-width: 1015px;
            }
        }
        &__contents {
            border-radius: 2rem;
            background-color: rgb(255, 255, 255);
            opacity: 0.8;
            width: 100%;
            max-width: 358px;
            margin: 0 auto;
            @include large($pc) {
                width: 43%;
                max-width: 1400px;
                margin: 0;
            }
        }
        &__textLarge {
            font-size: 1.125rem;
            font-family: "Noto Sans JP";
            color: rgb(17, 17, 17);
            font-weight: bold;
            padding: 1rem 1.5rem 0.375rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding: 1rem 1.5rem 0.375rem;
            }
        }
        &__textSmall {
            font-size: 0.9375rem;
            font-family: "Noto Sans JP";
            color: rgb(17, 17, 17);
            padding: 0 1.5rem 1.1875rem;
            @include large($pc) {
                padding: 1.3125rem 1.0625rem 1.1875rem;
            }

        }
        &__container img {
            display: none;
            @include large($pc) {
                display: block;
                padding-right: 2.1875rem;
            }
        }
    }

    .reason {
        background-color: #f3f9f6;
        @include large($pc) {
            padding-bottom: 3.25rem;
        }
        .title {
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            text-align: center;
            padding-top: 3.25rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.4375rem;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            @include large($pc) {
                font-size: 1.75rem;
                padding-top: 0.1875rem;
            }
        }
        &__list {
            width: 92%;
            max-width: 358px;
            margin: 0 auto;
            padding-top: 1.125rem;
            padding-bottom: 2.0625rem;
            @include large($pc) {
                width: 83%;
                display: flex;
                justify-content: space-between;
                padding-top: 1.5625rem;
                max-width: 1400px;
                
            }
        }
        &__item {
            padding-bottom: 1.125rem;
            @include large($pc) {
                width: calc((100% - 3.75rem) /3);
                padding-bottom: 0;
            }
        }
        &__item img {
            object-fit: cover;
            width: 100%;
            @include large($pc) {
                height:76%;
                border-radius: 1.5rem 1.5rem 0 0;
                
            }
        }
        &__picture {
            width: 100%;
        }
        &__text {
            background-color: #ffffff;
            font-size: 1.125rem;
            font-family: "Noto Sans JP";
            color: rgb(17, 17, 17);
            font-weight: bold;
            padding: 0.875rem;
            border-radius: 0 0 1.5rem 1.5rem;
            @include large($pc) {
                padding: 0.8125rem 1rem 1rem;
            }
        }
    }

    .service {
        padding-bottom: 0.25rem;
        @include large($pc) {
            padding-bottom: 3.4375rem;
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
        }
        .title {
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            text-align: center;
            padding-top: 3.25rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.75rem;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            @include large($pc) {
                font-size: 1.75rem;
                padding-top: 0.1875rem;
            }
        }
        &__list {
            width: 92%;
            max-width: 358px;
            margin: 0 auto;
            padding-top: 1.125rem;
            @include large($pc) {
                width: 79%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 3.125rem;
                padding-top: 1.625rem;
                padding-bottom: 0;
                max-width: unset;
            }
        }
        &__listPc {
            width: 92%;
            max-width: 358px;
            margin: 0 auto;
            padding-bottom: 2.0625rem;
            @include large($pc) {
                width: 79%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 3.125rem;
                padding-top: 2.4375rem;
                padding-bottom: 0;
                max-width: unset;
            }
        }
        &__item {
            display: flex;
            background-color: #168352;
            border-radius: 1.5rem;
            padding: 1.1875rem 1.5625rem;
            margin-bottom: 1.3125rem;
            @include large($pc) {
                justify-content: space-around;
                align-items: center;
                width: 22.3125rem;
                margin-bottom: 0;
                padding: 0 0.625rem;

            }
        }
        &__itemPc {
            display: flex;
            background-color: #168352;
            border-radius: 1.5rem;
            padding: 1.25rem 1.5625rem;
            margin-bottom: 1.3125rem;
            @include large($pc) {
                justify-content: space-around;
                align-items: center;
                width: 22.3125rem;
                margin-bottom: 0;
                padding: 0 0.625rem;

            } 
        }
        &__item img {
            width: 33%;
            @include large ($pc) {
                width: 25%;
                margin-left: 1.5rem;
            }
        }
        &__itemPc img {
            width: 32%;
            @include large($pc) {
                width: 80%;
                padding: 1.125rem 0.75rem;
            }
        }
        & .-first {
            @include large($pc) {
                width: 50%;
                padding: 1.625rem 0;
            }
        }

        &__text {
            font-size: 1.125rem;
            font-family: "Noto Sans JP";
            color: rgb(255, 255, 255);
            font-weight: bold;
            width: 11.6875rem;
            padding-left: 1rem;
            padding-top: 1.0625rem;
            @include large($pc) {
                width: 20.75rem;
                font-size: 1.5rem;
                padding-right: 5.0625rem;
                padding-top: 0.0625rem;
                padding-left: 0.625rem;
            }
            @include middle($min, $max) {
                padding-right: 0;
                font-size: 0.8125rem;
            }
        }
        &__textPc {
            font-size: 1.125rem;
            font-family: "Noto Sans JP";
            color: rgb(255, 255, 255);
            font-weight: bold;
            width: 11.6875rem;
            padding-left: 1rem;
            padding-top: 1.0625rem;
            @include large($pc) {
                width: 20.75rem;
                font-size: 1.25rem;
                padding: 0;
            }
            @include middle($min, $max) {
                font-size: 0.8125rem;
            }
        }
    }

    .voice {
        background-color: #f3f9f6;
        padding-bottom: 0.8125rem;
        @include large($pc) {
            padding-bottom: 2.5625rem;
        }
        .title {
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            text-align: center;
            padding-top: 2.9375rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.75rem;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            @include large($pc) {
                font-size: 1.75rem;
                padding-top: 0.1875rem;
            }
        }
        &__list {
            width: 92%;
            margin: 0 auto;
            padding-top: 1.125rem;
            padding-bottom: 0;
            @include large($pc) {
                display: flex;
                justify-content: space-between;
                column-gap: 36px;
                width: 83%;
                padding-top: 1.1875rem;
                max-width: 1400px;
            }
        }
        &__item {
            border-radius: 1.5rem;
            margin-bottom: 1.75rem;
            @include large($pc) {
                width: 22.3125rem;
                padding-bottom: 0;
                padding-top: 0.25rem;
                grid-column: span 1 / span 1;
                margin-bottom: 1.3125rem;
            }
        }
        &__imgContainer {
            width: 100%;
            height: 12.375rem;
        }
        picture img {
            aspect-ratio: 359/229;
        }
        &__text {
            font-size: 1.125rem;
            font-family: "Noto Sans JP";
            color: rgb(9, 148, 123);
            font-weight: bold;
            padding-top: 0.5625rem;
            @include large($pc) {
                padding-top: 0.625rem;
            }
        }
    }

    .news {
        padding-bottom: 4rem;
        .title {
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            text-align: center;
            padding-top: 3.25rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.3125rem;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            @include large($pc) {
                font-size: 1.75rem;
                padding-top: 0.1875rem;
            }
        }
        &__list {
            width: 92%;
            max-width: 358px;
            margin: 0 auto;
            padding-top: 1.125rem;
            padding-bottom: 2.0625rem;
            @include large($pc) {
                width: 83%;
                padding-top: 1.625rem;
                padding-bottom: 2.6875rem;
                max-width: unset;
            }
        }
        &__item {
            border-top: 2px solid #dddddd;
            border-bottom: 2px solid #dddddd;
            @include large($pc) {
                display: flex;
                align-items: center;
                text-align: start;
                column-gap: 0.625rem;
                margin: 0 auto;
                width: 78%;
                padding: 0.6875rem 0;
            }
        }
        &__flex {
            display: flex;
            justify-content: start;
            padding-top: 0.9375rem;
            @include large($pc) {
                padding-top: 0;
                column-gap: 0.8125rem;
            }
        }
        &__date {
            font-size: 0.9375rem;
            font-family: "Noto Sans JP";
            color: rgb(34, 34, 34);
            @include large($pc) {
                font-size: 0.875rem;
                padding-top: 0.25rem;
                padding-left: 0.1875rem;
            }
        }
        &__notification {
            width: 8.375rem;
            text-align: center;
            background-color: #473221;
            font-size: 0.8125rem;
            font-family: "Noto Sans JP";
            color: rgb(255, 255, 255);
            border-radius: 0.25rem;
            margin-left: 1.0625rem;
            white-space: nowrap;
            @include large($pc) {
                margin-left: 0.5rem;
                padding: 0.125rem 0;
            }
            @include middle($min, $max) {
                width: 12.5rem;
                margin-left: 1.625rem;
            }
        }
        &__text {
            font-size: 0.9375rem;
            font-family: "Noto Sans JP";
            color: rgb(9, 148, 123);
            font-weight: bold;
            color: #09947b;
            padding-bottom: 0.5625rem;
            padding-top: 0.625rem;
            @include large($pc) {
                font-size: 0.9375rem;
                padding-bottom: 0.0625rem;
                padding-left: 0.9375rem;
                padding-top: 0.5rem;
            }
        }
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18.75rem;
            border-radius: 7.4vw;
            margin: 0 auto;
            box-shadow: 0 0.221rem 0px 0px rgb(6, 102, 85);
            font-size: 1.125rem;
            font-family: "Noto Sans JP";
            color: rgb(255, 255, 255);
            font-weight: bold;
            white-space: nowrap;
            cursor: pointer;
            background-color: #09947b;
            padding: 0.9375rem 0;
            margin-top: -0.5625rem;
            @include large($pc) {
                margin-top: -0.625rem;
                padding: 1.1875rem 0;
            }
        }
    }

    .footer {
        background-color: #168352;
        &__inner {
            padding: 0.9375rem 0;
            @include large($pc) {
                padding: 1.625rem 0;
            }
        }
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8125rem;
            font-family: "Noto Sans JP";
            color: rgb(255, 255, 255);
            padding:0.4375rem 0;
            @include large($pc) {
                font-size: 0.9375rem;
            }
        }
        &__item {
            padding: 0 1rem;
        }
    }
}