@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  line-height: 1.75;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  line-height: 1.5em;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body .mainVisual {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 10px;
}
body .mainVisual__container {
  padding-top: 21px;
}
body .mainVisual__title {
  font-size: 30px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-top: 88px;
}
@media screen and (min-width: 768px) {
  body .mainVisual__title {
    font-size: 36px;
    padding-top: 0;
  }
}
body .mainVisual__guide {
  font-size: 12px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  text-align: end;
  padding-top: 18px;
}
body .gallery {
  width: 92%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 61px;
}
body .gallery .title {
  font-size: 22px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 8px;
  position: relative;
  border-bottom: 3px solid #dddddd;
}
@media screen and (min-width: 768px) {
  body .gallery .title {
    font-size: 28px;
  }
}
body .gallery .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 14%;
  height: 3px;
  background: #168352;
}
body .gallery .container {
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  body .gallery .container {
    width: 57%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  body .gallery .container img {
    width: 100%;
    padding-top: 50px;
  }
}
body .feature {
  width: 92%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}
body .feature .title {
  font-size: 22px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 8px;
  position: relative;
  border-bottom: 3px solid #dddddd;
}
body .feature .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 14%;
  height: 3px;
  background: #168352;
}
body .feature .container {
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  body .feature .container {
    display: flex;
    width: 57%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  body .feature .container img {
    padding-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  body .feature__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body .feature__item {
  padding-top: 14px;
}
body .feature__text {
  font-size: 18px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 21px;
}
body .price {
  width: 92%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 61px;
}
body .price .container {
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  body .price .container {
    width: 57%;
    margin: 0 auto;
  }
}
body .price .title {
  font-size: 22px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 8px;
  position: relative;
  border-bottom: 3px solid #dddddd;
}
body .price .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 14%;
  height: 3px;
  background: #168352;
}
body .price__price {
  font-size: 32px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  font-weight: bold;
}
body .price__small {
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
body .spec {
  width: 92%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 61px;
}
body .spec .container {
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  body .spec .container {
    width: 57%;
    margin: 0 auto;
  }
}
body .spec .title {
  font-size: 22px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 8px;
  position: relative;
  border-bottom: 3px solid #dddddd;
}
body .spec .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 14%;
  height: 3px;
  background: #168352;
}
body .spec__object {
  font-size: 20px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-left: 3px solid #168352;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  body .spec__object {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  body .spec__list {
    width: 90%;
    margin: 0 auto;
  }
}
body .spec__item {
  display: flex;
  width: 100%;
}
body .spec__grey {
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 1px solid #dddddd;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  body .spec__grey {
    width: 20%;
  }
}
body .spec__white {
  font-size: 16px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  border: 1px solid #dddddd;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  body .spec__white {
    width: 80%;
  }
}
body .inquiry {
  background-image: url("../images/inquiry-img.png");
  aspect-ratio: 390/360;
  background-size: cover;
  display: flex;
}
@media screen and (min-width: 768px) {
  body .inquiry {
    aspect-ratio: 1400/450;
  }
}
body .inquiry__btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
body .inquiry__btn a {
  font-size: 20px;
  font-family: "Source Han Sans JP";
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 40px;
  padding: 15px 113px;
}

body .mainVisual {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 10px;
}
body .mainVisual__container {
  padding-top: 21px;
}
body .mainVisual__title {
  font-size: 30px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-top: 88px;
}
@media screen and (min-width: 768px) {
  body .mainVisual__title {
    font-size: 36px;
    padding-top: 0;
  }
}
body .mainVisual__guide {
  font-size: 12px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  text-align: end;
  padding-top: 18px;
}
body .faq__list {
  width: 92%;
  margin: 0 auto;
}
body .faq__item {
  border: 1px solid #cccccc;
  border-radius: 16px;
}
body .faq__question {
  display: flex;
  align-items: center;
}
body .faq__question::before {
  content: "Q";
}
body .faq__question::after {
  content: "-";
}
body .faq__icon {
  font-size: 11px;
  font-family: "Source Han Sans JP";
  color: rgb(22, 131, 82);
}
body .faq__text {
  font-size: 16px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
}
body .faq__answer {
  font-size: 16px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  width: 90%;
  margin: 0 auto;
}

body .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body .header__inner {
    width: 83.5%;
    padding: 1.9375rem 0;
  }
}
@media screen and (min-width: 768px) {
  body .header__logo {
    display: flex;
    align-items: center;
    width: 18.625rem;
    padding: 0.9375rem 0;
  }
}
@media screen and (min-width: 768px) {
  body .header__logo img {
    max-width: unset;
    width: 16.5625rem;
  }
}
body .header__item {
  font-size: 16px;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}
body .header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  body .header__nav {
    display: block;
    width: 16.3125rem;
  }
}
body .header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header__hamburger {
  width: 3.375rem;
  height: 3.9rem;
}
@media screen and (min-width: 768px) {
  body .header__hamburger {
    display: none;
  }
}
body .header .fa-bars {
  position: relative;
  font-size: 1.7rem;
  padding-top: 1.2rem;
  padding-left: 2rem;
}
body .vision__container {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 17px;
}
@media screen and (min-width: 768px) {
  body .vision__container {
    width: 83.5%;
    padding: 1.9375rem 0;
  }
}
body .vision__container img {
  padding-top: 1.5625rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  body .vision__container img {
    padding-top: 5.25rem;
  }
}
@media screen and (min-width: 768px) {
  body .vision__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
body .vision__title {
  font-size: 1.75rem;
  font-family: "Noto Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  body .vision__title {
    font-size: 2.5rem;
    padding-top: 0;
    padding-left: 2rem;
    width: 96%;
  }
}
body .vision__text {
  font-size: 0.9375rem;
  font-family: "Noto Sans JP";
  color: rgb(0, 0, 0);
  padding-top: 0.9375rem;
}
@media screen and (min-width: 768px) {
  body .vision__text {
    padding-top: 0.5rem;
  }
}
body .vision__aboutUsEn {
  padding-top: 3.375rem;
  text-align: center;
  font-size: 1rem;
  font-family: "Montserrat";
  color: rgb(22, 131, 82);
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  body .vision__aboutUsEn {
    font-size: 1.25rem;
    padding-top: 3.8125rem;
  }
}
body .vision__aboutUsJp {
  text-align: center;
  font-size: 1.25rem;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  body .vision__aboutUsJp {
    font-size: 1.75rem;
  }
}
body .mission {
  background-image: url(../images/about_us_img.png);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  body .mission {
    background-image: unset;
    padding-bottom: 49px;
  }
}
body .mission__container {
  width: 92%;
  margin: 0 auto;
  padding: 1.875rem 0;
}
@media screen and (min-width: 768px) {
  body .mission__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    max-width: 1015px;
  }
}
body .mission__contents {
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  body .mission__contents {
    width: 45%;
  }
}
body .mission__textLarge {
  font-size: 1.125rem;
  font-family: "Source Han Sans JP";
  color: rgb(17, 17, 17);
  font-weight: bold;
  padding: 1rem 1.5rem 0.375rem;
}
@media screen and (min-width: 768px) {
  body .mission__textLarge {
    font-size: 1.25rem;
    padding: 1rem 1.5rem 0.375rem;
  }
}
body .mission__textSmall {
  font-size: 0.9375rem;
  font-family: "Source Han Sans JP";
  color: rgb(17, 17, 17);
  padding: 0 1.5rem 1.1875rem;
}
@media screen and (min-width: 768px) {
  body .mission__textSmall {
    padding: 1.3125rem 1.0625rem 1.1875rem;
  }
}
body .mission__container img {
  display: none;
}
@media screen and (min-width: 768px) {
  body .mission__container img {
    display: block;
    padding-right: 35px;
  }
}
body .reason {
  background-color: #f3f9f6;
}
@media screen and (min-width: 768px) {
  body .reason {
    padding-bottom: 0.6875rem;
  }
}
body .reason .title {
  font-size: 1rem;
  font-family: "Montserrat";
  color: rgb(22, 131, 82);
  font-weight: bold;
  text-align: center;
  padding-top: 3.25rem;
}
@media screen and (min-width: 768px) {
  body .reason .title {
    font-size: 1.25rem;
    padding-top: 3.75rem;
  }
}
body .reason .subtitle {
  font-size: 1.25rem;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body .reason .subtitle {
    font-size: 1.75rem;
    padding-top: 0.1875rem;
  }
}
body .reason__list {
  width: 92%;
  margin: 0 auto;
  padding-top: 1.125rem;
  padding-bottom: 2.0625rem;
}
@media screen and (min-width: 768px) {
  body .reason__list {
    width: 83%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.625rem;
    padding-bottom: 4.6875rem;
  }
}
body .reason__item {
  padding-bottom: 1.125rem;
}
@media screen and (min-width: 768px) {
  body .reason__item {
    width: 22.3125rem;
    padding-bottom: 0;
    padding-top: 0.25rem;
  }
}
body .reason__text {
  font-size: 1.125rem;
  font-family: "Source Han Sans JP";
  color: rgb(17, 17, 17);
  font-weight: bold;
  padding: 0.875rem;
  border-radius: 0 0 24px 24px;
}
@media screen and (min-width: 768px) {
  body .service {
    padding-bottom: 97px;
  }
}
body .service .title {
  font-size: 1rem;
  font-family: "Montserrat";
  color: rgb(22, 131, 82);
  font-weight: bold;
  text-align: center;
  padding-top: 3.25rem;
}
@media screen and (min-width: 768px) {
  body .service .title {
    font-size: 1.25rem;
    padding-top: 3.75rem;
  }
}
body .service .subtitle {
  font-size: 1.25rem;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body .service .subtitle {
    font-size: 1.75rem;
    padding-top: 0.1875rem;
  }
}
body .service__list {
  width: 92%;
  margin: 0 auto;
  padding-top: 1.125rem;
  padding-bottom: 2.0625rem;
}
@media screen and (min-width: 768px) {
  body .service__list {
    width: 83%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 最大3列を定義 */
    grid-auto-rows: auto; /* 行の高さはコンテンツに合わせる */
    gap: 10px; /* 任意のギャップ */
    padding-top: 1.625rem;
    padding-bottom: 4.6875rem;
  }
}
body .service__item {
  display: flex;
  background-color: #168352;
  border-radius: 1.5rem;
  padding: 1.25rem 1.5625rem;
  margin-bottom: 1.3125rem;
}
@media screen and (min-width: 768px) {
  body .service__item {
    width: 22.3125rem;
    padding-bottom: 0;
    padding-top: 0.25rem;
    grid-column: span 1/span 1;
  }
}
body .service .-one {
  grid-column: span 1/span 1;
  grid-row: 1/2; /* 1行目に配置 */
}
body .service .-two {
  grid-column: span 1/span 1;
  grid-row: 2/3; /* 2行目に配置 */
}
body .service__text {
  font-size: 1.125rem;
  font-family: "Source Han Sans JP";
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 11.6875rem;
  padding-left: 1.4375rem;
  padding-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  body .voice {
    padding-bottom: 0;
  }
}
body .voice .title {
  font-size: 1rem;
  font-family: "Montserrat";
  color: rgb(22, 131, 82);
  font-weight: bold;
  text-align: center;
  padding-top: 3.25rem;
}
@media screen and (min-width: 768px) {
  body .voice .title {
    font-size: 1.25rem;
    padding-top: 3.75rem;
  }
}
body .voice .subtitle {
  font-size: 1.25rem;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body .voice .subtitle {
    font-size: 1.75rem;
    padding-top: 0.1875rem;
  }
}
body .voice__list {
  width: 92%;
  margin: 0 auto;
  padding-top: 1.125rem;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  body .voice__list {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 35px;
         column-gap: 35px;
    width: 83%;
    padding-top: 1.625rem;
    padding-bottom: 4.6875rem;
  }
}
body .voice__item {
  border-radius: 1.5rem;
  margin-bottom: 1.3125rem;
}
@media screen and (min-width: 768px) {
  body .voice__item {
    width: 22.3125rem;
    padding-bottom: 0;
    padding-top: 0.25rem;
    grid-column: span 1/span 1;
  }
}
body .voice__imgContainer {
  width: 100%;
  height: 198px;
}
body .voice__text {
  font-size: 18px;
  font-family: "Source Han Sans JP";
  color: rgb(9, 148, 123);
  font-weight: bold;
}
body .news {
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  body .news {
    padding-bottom: 97px;
  }
}
body .news .title {
  font-size: 1rem;
  font-family: "Montserrat";
  color: rgb(22, 131, 82);
  font-weight: bold;
  text-align: center;
  padding-top: 3.25rem;
}
@media screen and (min-width: 768px) {
  body .news .title {
    font-size: 1.25rem;
    padding-top: 3.75rem;
  }
}
body .news .subtitle {
  font-size: 1.25rem;
  font-family: "Source Han Sans JP";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body .news .subtitle {
    font-size: 1.75rem;
    padding-top: 0.1875rem;
  }
}
body .news__list {
  width: 92%;
  margin: 0 auto;
  padding-top: 1.125rem;
  padding-bottom: 2.0625rem;
}
@media screen and (min-width: 768px) {
  body .news__list {
    width: 83%;
    padding-top: 1.625rem;
    padding-bottom: 4.6875rem;
  }
}
body .news__item {
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
}
@media screen and (min-width: 768px) {
  body .news__item {
    display: flex;
    align-items: center;
    text-align: start;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin: 0 auto;
    width: 1200px;
    padding: 20px 130px;
    grid-column: span 1/span 1;
  }
}
body .news__flex {
  display: flex;
  justify-content: start;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  body .news__flex {
    padding-top: 0;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
body .news__date {
  font-size: 15px;
  font-family: "Source Han Sans JP";
  color: rgb(34, 34, 34);
}
@media screen and (min-width: 768px) {
  body .news__date {
    font-size: 14px;
  }
}
body .news__notification {
  width: 134px;
  text-align: center;
  background-color: #473221;
  font-size: 13px;
  font-family: "Source Han Sans JP";
  color: rgb(255, 255, 255);
  border-radius: 4px;
}
body .news__text {
  font-size: 15px;
  font-family: "Source Han Sans JP";
  color: rgb(9, 148, 123);
  font-weight: bold;
  color: #09947b;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  body .news__text {
    font-size: 19px;
    padding-bottom: 0;
  }
}
body .news__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 7.4vw;
  margin: 0 auto;
  box-shadow: 1.221rem rgb(6, 102, 85);
  font-size: 18px;
  font-family: "Source Han Sans JP";
  color: rgb(255, 255, 255);
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  background-color: #09947b;
  padding: 10px 0;
}
body .footer {
  background-color: #168352;
}
body .footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: "Source Han Sans JP";
  color: rgb(255, 255, 255);
  padding: 28px 0;
}
body .footer__item {
  padding: 0 0.625rem;
}/*# sourceMappingURL=style.css.map */