@charset 'utf-8';

@import "_reset";
@import "_variables";

body {
    .header {
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92%;
            margin: 0 auto;
            @include large($pc) {
                width: 83.5%;
                padding: 1.9375rem 0;
            }
        }
        &__logo {
            @include large($pc) {
                display: flex;
                align-items: center;
                width: 18.625rem;
                padding: 0.9375rem 0;

            }
        }
        &__logo img {
            @include large($pc) {
                max-width: unset;
                width: 16.5625rem;
            }
        }
        &__item {
            font-size: 16px;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            line-height: 1.2;
        }
        &__nav {
            display: none;
            @include large($pc) {
                display: block;
                width: 16.3125rem;

            }
        }
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__hamburger {
            width: 3.375rem;
            height: 3.9rem;
            @include large($pc) {
                display: none;

            }
        }
        .fa-bars {
            position: relative;
            font-size: 1.7rem;
            padding-top: 1.2rem;
            padding-left: 2rem;
        }
    }

    .vision {
        &__container {
            width: 92%;
            margin: 0 auto;
            padding-bottom: 17px;
            @include large($pc) {
                width: 83.5%;
                padding: 1.9375rem 0;
            }
        }
        &__container img {
            padding-top: 1.5625rem;
            object-fit: cover;
            @include large($pc) {
                padding-top: 5.25rem;
            }
        }
        &__contents {
            @include large($pc) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        &__title {
            font-size: 1.75rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            padding-top: 1rem;
            @include large($pc) {
                font-size: 2.5rem;
                padding-top: 0;
                padding-left: 2rem;
                width: 96%;
            }
        }
        &__text {
            font-size: 0.9375rem;
            font-family: "Noto Sans JP";
            color: rgb(0, 0, 0);
            padding-top: 0.9375rem;
            @include large($pc) {
                padding-top: 0.5rem;
            }
        }
        &__aboutUsEn {
            padding-top: 3.375rem;
            text-align: center;
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            line-height: 1.2;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.8125rem;
            }
        }
        &__aboutUsJp {
            text-align: center;
            font-size: 1.25rem;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            @include large($pc) {
                font-size: 1.75rem;
            }
        }
    }

    .mission {
        background-image: url(../images/about_us_img.png);
        background-size: cover;
        @include large($pc) {
            background-image: unset;
            padding-bottom: 49px;
        }
        &__container {
            width: 92%;
            margin: 0 auto;
            padding: 1.875rem 0;
            @include large($pc) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                width: 100%;
                max-width: 1015px;
            }
        }
        &__contents {
            border-radius: 2rem;
            background-color: rgb(255, 255, 255);
            opacity: 0.8;
            @include large($pc) {
                width: 45%;
            }
        }
        &__textLarge {
            font-size: 1.125rem;
            font-family: "Source Han Sans JP";
            color: rgb(17, 17, 17);
            font-weight: bold;
            padding: 1rem 1.5rem 0.375rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding: 1rem 1.5rem 0.375rem;
            }
        }
        &__textSmall {
            font-size: 0.9375rem;
            font-family: "Source Han Sans JP";
            color: rgb(17, 17, 17);
            padding: 0 1.5rem 1.1875rem;
            @include large($pc) {
                padding: 1.3125rem 1.0625rem 1.1875rem;
            }

        }
        &__container img {
            display: none;
            @include large($pc) {
                display: block;
                padding-right: 35px;
            }
        }
    }

    .reason {
        background-color: #f3f9f6;
        @include large($pc) {
            padding-bottom: 0.6875rem;
        }
        .title {
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            text-align: center;
            padding-top: 3.25rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.75rem;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            @include large($pc) {
                font-size: 1.75rem;
                padding-top: 0.1875rem;
            }
        }
        &__list {
            width: 92%;
            margin: 0 auto;
            padding-top: 1.125rem;
            padding-bottom: 2.0625rem;
            @include large($pc) {
                width: 83%;
                display: flex;
                justify-content: space-between;
                padding-top: 1.625rem;
                padding-bottom: 4.6875rem;
            }
        }
        &__item {
            padding-bottom: 1.125rem;
            @include large($pc) {
                width: 22.3125rem;
                padding-bottom: 0;
                padding-top: 0.25rem;
            }
        }
        &__text {
            font-size: 1.125rem;
            font-family: "Source Han Sans JP";
            color: rgb(17, 17, 17);
            font-weight: bold;
            padding: 0.875rem;
            border-radius: 0 0 24px 24px;
        }
    }

    .service {
        @include large($pc) {
            padding-bottom: 97px;
        }
        .title {
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            text-align: center;
            padding-top: 3.25rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.75rem;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            @include large($pc) {
                font-size: 1.75rem;
                padding-top: 0.1875rem;
            }
        }
        &__list {
            width: 92%;
            margin: 0 auto;
            padding-top: 1.125rem;
            padding-bottom: 2.0625rem;
            @include large($pc) {
                width: 83%;
                display: grid;
                grid-template-columns: repeat(3, 1fr); /* 最大3列を定義 */
                grid-auto-rows: auto; /* 行の高さはコンテンツに合わせる */
                gap: 10px; /* 任意のギャップ */
                padding-top: 1.625rem;
                padding-bottom: 4.6875rem;
            }
        }
        &__item {
            display: flex;
            background-color: #168352;
            border-radius: 1.5rem;
            padding: 1.25rem 1.5625rem;
            margin-bottom: 1.3125rem;
            @include large($pc) {
                width: 22.3125rem;
                padding-bottom: 0;
                padding-top: 0.25rem;
                grid-column: span 1 / span 1;
            }
        }
        & .-one {
            grid-column: span 1 / span 1;
            grid-row: 1 / 2; /* 1行目に配置 */
        }
        & .-two {
            grid-column: span 1 / span 1;
            grid-row: 2 / 3; /* 2行目に配置 */
        }


        &__text {
            font-size: 1.125rem;
            font-family: "Source Han Sans JP";
            color: rgb(255, 255, 255);
            font-weight: bold;
            width: 11.6875rem;
            padding-left: 1.4375rem;
            padding-top: 1.0625rem;
        }
    }

    .voice {
        @include large($pc) {
            padding-bottom: 0;
        }
        .title {
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            text-align: center;
            padding-top: 3.25rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.75rem;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            @include large($pc) {
                font-size: 1.75rem;
                padding-top: 0.1875rem;
            }
        }
        &__list {
            width: 92%;
            margin: 0 auto;
            padding-top: 1.125rem;
            padding-bottom: 0;
            @include large($pc) {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 35px;
                width: 83%;
                padding-top: 1.625rem;
                padding-bottom: 4.6875rem;
            }
        }
        &__item {
            border-radius: 1.5rem;
            margin-bottom: 1.3125rem;
            @include large($pc) {
                width: 22.3125rem;
                padding-bottom: 0;
                padding-top: 0.25rem;
                grid-column: span 1 / span 1;
            }
        }
        &__imgContainer {
            width: 100%;
            height: 198px;
        }
        &__text {
            font-size: 18px;
            font-family: "Source Han Sans JP";
            color: rgb(9, 148, 123);
            font-weight: bold;
        }
    }

    .news {
        padding-bottom: 10px;
        @include large($pc) {
            padding-bottom: 97px;
        }
        .title {
            font-size: 1rem;
            font-family: "Montserrat";
            color: rgb(22, 131, 82);
            font-weight: bold;
            text-align: center;
            padding-top: 3.25rem;
            @include large($pc) {
                font-size: 1.25rem;
                padding-top: 3.75rem;
            }
        }
        .subtitle {
            font-size: 1.25rem;
            font-family: "Source Han Sans JP";
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            @include large($pc) {
                font-size: 1.75rem;
                padding-top: 0.1875rem;
            }
        }
        &__list {
            width: 92%;
            margin: 0 auto;
            padding-top: 1.125rem;
            padding-bottom: 2.0625rem;
            @include large($pc) {
                width: 83%;
                padding-top: 1.625rem;
                padding-bottom: 4.6875rem;
            }
        }
        &__item {
            border-top: 2px solid #dddddd;
            border-bottom: 2px solid #dddddd;
            @include large($pc) {
                display: flex;
                align-items: center;
                text-align: start;
                column-gap: 10px;
                margin: 0 auto;
                width: 1200px;
                padding: 20px 130px;
                grid-column: span 1 / span 1;
            }
        }
        &__flex {
            display: flex;
            justify-content: start;
            padding-top: 20px;
            @include large($pc) {
                padding-top: 0;
                column-gap: 10px;
            }
        }
        &__date {
            font-size: 15px;
            font-family: "Source Han Sans JP";
            color: rgb(34, 34, 34);
            @include large($pc) {
                font-size: 14px;
            }
        }
        &__notification {
            width: 134px;
            text-align: center;
            background-color: #473221;
            font-size: 13px;
            font-family: "Source Han Sans JP";
            color: rgb(255, 255, 255);
            border-radius: 4px;
        }
        &__text {
            font-size: 15px;
            font-family: "Source Han Sans JP";
            color: rgb(9, 148, 123);
            font-weight: bold;
            color: #09947b;
            padding-bottom: 20px;
            @include large($pc) {
                font-size: 19px;
                padding-bottom: 0;
            }
        }
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            border-radius: 7.4vw;
            margin: 0 auto;
            box-shadow: 1.221rem rgb(6, 102, 85);
            // box-shadow: 0 0.221rem 0px 0px rgb(6, 102, 85);
            font-size: 18px;
            font-family: "Source Han Sans JP";
            color: rgb(255, 255, 255);
            font-weight: bold;
            white-space: nowrap;
            cursor: pointer;
            background-color: #09947b;
            padding: 10px 0;
        }
    }

    .footer {
        background-color: #168352;
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-family: "Source Han Sans JP";
            color: rgb(255, 255, 255);
            padding:28px 0
        }
        &__item {
            padding: 0 0.625rem;
        }
    }
}